body {
  margin: 0;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  input {
    font-family: "Nunito Sans", sans-serif;
  }
  select {
    font-family: "Nunito Sans", sans-serif;
  }
  button {
    font-family: "Nunito Sans", sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
